<h1>Carrito {{cart._id}}</h1>
<a href="/" class="home-link" style="margin-top: 10px;">Volver al Inicio</a>

{{#if cart.products.length}}
    <ul>
        {{#each productIds}}
            {{#with (lookup ../cart.products @index)}}
                <li>
                    Producto: {{this.title}} -
                    Cantidad: {{this.quantity}}
                </li>
            {{/with}}
        {{/each}}
    </ul>
    <form method="post" action="/carts/{{cart._id}}">
        <input type="submit" value="Actualizar Carrito">
    </form>
    <form method="post" action="/carts/{{cart._id}}/remove">
        <input type="submit" value="Eliminar Carrito">
    </form>
    <a href="/carts/{{cart._id}}/purchase" class="purchase-link">Finalizar Compra</a>
{{else}}
    <p>El carrito está vacío</p>
{{/if}}






