<!-- cart.handlebars -->

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cart.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

  <header>
    <nav class="navbar">
            <div class="navbar-left">
                <a href="/products">Volver</a>
            </div>
    </nav>
  </header>

  <main>


    <h1>Carrito de Compras</h1>

    <div class="product-list">
      {{#if cartContent}}
        {{#if cartContent.products.length}}
          {{#each cartContent.products}}
            <div class="product-item">

<!-- Detalles del producto -->
              <div class="product-image-container">
                <img src="{{this.productId.thumbnail}}" alt="{{this.productId.title}}" class="product-image">
              </div>
              <div class="product-details">
                <div class="product-header">
                  <h5 class="product-title">{{this.productId.title}}</h5>
                </div>
                <ul class="unique-product-details">
                  <li><i class="bi bi-file-text"></i> Description: {{this.productId.description}}</li>
                  <li><i class="bi bi-currency-dollar"></i> Price: ${{this.productId.price}}</li>
                  <li><i class="bi bi-grid"></i> Category: {{this.productId.category}}</li>
                  <li><i class="bi bi-box"></i> Stock: {{this.productId.stock}}</li>
                  <li><i class="bi bi-box"></i> Cantidad seleccionada: {{this.quantity}}</li>
                </ul>
              </div>
              
            </div>
          {{/each}}
              <div class="cart-total">
              <p>Total del carrito: ${{cartContent.total}}</p>


<!-- Botón de confirmar compra -->
              <form id="purchaseForm" action="/purchase" method="POST">
                <input type="hidden" id="userId" name="userId" value="{{cartContent.userId}}">
                <button type="submit" class="btn-confirm-purchase">Confirmar Compra</button>
              </form>
              </div>
        {{/if}}
      {{/if}}
    </div>

  </main>


  <script src="../js/purchaseScript.js"></script>


</body>

</html>
