<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Ir al Home</a>
        <a href="/users">Listado de Usuarios</a>   
        <a href="/realTimeProducts">Ir a Real Time Products</a>
        <a href="/products">Ir al Listado de Productos</a>
        <a href="/session/logout" class="logout-button">Logout</a>
    </div>

    <!-- Contenido principal -->
    <div class="container">
        <h1>Listado de Productos</h1>
<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Thumbnail</th>
            <th>Código</th>
            <th>Stock</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.category}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>
                <button class="edit-btn" data-product-id="{{this._id}}">Modificar</button>
            </td>
            <td>
                <button class="delete-btn" data-product-id="{{this._id}}">Eliminar</button>

            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


        <!-- Paginación -->
        <ul class="pagination">
            <nav aria-label="Page navigation example">
                <li class="page-item prev">
                    {{#if pagination.hasPrevPage}}
                        <a href="/inventario?page={{pagination.prevPage}}&limit={{pagination.limit}}" class="page-link">Anterior</a>
                    {{/if}}
                </li>
                <li class="page-item page-number">Página {{pagination.page}}</li>
                <li class="page-item next">
                    {{#if pagination.hasNextPage}}
                        <a href="/inventario?page={{pagination.nextPage}}&limit={{pagination.limit}}" class="page-link">Siguiente</a>
                    {{/if}}
                </li>
            </nav>
        </ul>

        <button id="add-product-btn">Agregar Producto</button>
    </div>

    <script src="/js/inventario.js"></script>
</body>
</html>
