{{!-- src/views/products.handlebars --}}


<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/products.css">
</head>

<body>

  <div class="navbar">
    <a class="navbar-brand" href="#">
      <img src="/images/Logo.jpg" alt="Logo">
    </a>

    <form>
      <input type="search" placeholder="Buscar">
      <button type="submit">Buscar</button>
    </form>

<a href="/cart" class="cart-icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="feather feather-shopping-cart">
    <circle cx="9" cy="21" r="1"></circle>
    <circle cx="20" cy="21" r="1"></circle>
    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
  </svg>
</a>

<!-- Nuevo botón para logout -->
    <a href="/session/logout" class="logout-button">Logout</a>

  </div>

  {{log "hasNextPage in handlebars:" hasNextPage}}
  <div class="container mt-5">
    <h1 class="text-center mb-5">Aquí puedes ver nuestro productos {{user.full_name}} {{user.last_name}} </h1>

<div class="product-list">
    {{#each products}}
        <div class="product-item">
            <div class="product-image-container">
                <img src="{{this.thumbnail}}" alt="{{this.title}}" class="product-image">
            </div>
            <div class="product-details">
                <div class="product-header">
                    <h5 class="product-title">{{this.title}}</h5>
                </div>
                <ul class="unique-product-details">
                    <li><i class="bi bi-file-text"></i> Description: {{this.description}}</li>
                    <li><i class="bi bi-currency-dollar"></i> Price: ${{this.price}}</li>
                    <li><i class="bi bi-grid"></i> Category: {{this.category}}</li>
                    <li><i class="bi bi-box"></i> Stock: {{this.stock}}</li>
                </ul>
            </div>
            <div class="product-actions">
                <form action="/vistaproduct" method="post">
                    <input type="hidden" name="productId" value="{{this._id}}">
                    <button type="submit" class="viewProduct">VER PRODUCTO</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>

            <ul class="pagination">
            <nav aria-label="Page navigation example">
                <li class="page-item prev">
                {{#if hasPrevPage}}
                    <a href="/products?page={{prevPage}}&limit={{currentLimit}}">Anterior</a>
                {{/if}}
                </li>
                <li class="page-item page-number">{{page}}</li>
                <li class="page-item next">
                {{#if hasNextPage}}
                    <a href="/products?page={{nextPage}}&limit={{currentLimit}}">Siguiente</a>
                {{/if}}
                </li>
            </nav>
            </ul>
  </div>





</body>


</html>
