<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/users.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/">Ir al Home</a>
        <a href="/users">Listado de Usuarios</a>   
        <a href="/realTimeProducts">Ir a Real Time Products</a>
        <a href="/products">Ir al Listado de Productos</a>
        <a href="/session/logout" class="logout-button">Logout</a>
    </div>

    <!-- Contenido principal -->
    <div class="container">
        <h1>Lista de Usuarios</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.age}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.rol}}</td>
                    <td>
                        <button class="edit-btn" data-user-id="{{this._id}}">Modificar</button>
                    </td>
                    <td>
                        <button class="delete-btn" data-user-id="{{this._id}}">Eliminar</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <!-- Paginación -->
        <ul class="pagination">
            <nav aria-label="Page navigation example">
                <li class="page-item prev">
                    {{#if pagination.hasPrevPage}}
                        <a href="/users?page={{pagination.prevPage}}&limit={{pagination.limit}}" class="page-link">Anterior</a>
                    {{/if}}
                </li>
                <li class="page-item page-number">Página {{pagination.page}}</li>
                <li class="page-item next">
                    {{#if pagination.hasNextPage}}
                        <a href="/users?page={{pagination.nextPage}}&limit={{pagination.limit}}" class="page-link">Siguiente</a>
                    {{/if}}
                </li>
            </nav>
        </ul>

        <button id="add-user-btn">Agregar Usuario</button>
    </div>

    <script src="/js/users.js"></script>
</body>
</html>
