<!-- vistaproduct.hbs -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.title}}</title>
    <link rel="stylesheet" href="/css/vistaproduct.css"> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="/products">Volver</a>
            </div>
            <div class="navbar-right">
                <a href="/cart">Ir al Carrito</a>
            </div>
        </nav>
    </header>

<main>
<div class="product-details" data-product-id="{{product._id}}"  data-stock="{{ product.stock }}">
    <div class="product-image-container">
        <img src="{{product.thumbnail}}" alt="{{product.title}}" class="product-image">
    </div>
    <div class="product-info">
        <h1>{{product.title}}</h1>
        <p>{{product.description}}</p>
        <p>Stock: {{product.stock}}</p>
        <button id="addToCartBtn" data-product-id="{{product._id}}" data-product-stock="{{product.stock}}">Agregar al Carrito</button>

    </div>
</div>
    </div>
</main>


    
<script src="/js/vistaproduct.js"></script>
</body>

</html>
